doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href='http://f.fontdeck.com/s/css/J35lFD8z8VtCDVqKGBL5nAbFRpQ/hud.clockte.ch/39767.css', rel='stylesheet', type='text/css')

  body
    block content
